/*
Seletores Universais
Tipo de Seletores
Classes de seletores
Pseudo-classes
Seletores ID
Estilo Inline
*/

:root{
    font-size: 62.5%;
    box-sizing: border-box;

    --primary-color: #000;
    --secondary-color: #6200ee;
    --tertiary-color: #fff;
    --Bfume: var(--tertiary-color)
}

body {
    margin: 0;
    color: var(--tertiary-color);
}

.background-ps{
    background-image: linear-gradient(to right, var(--primary-color), 
    var(--secondary-color));
}

.background-ps{}

h1{
    font-size: 40px;
}

/* Estilização do Menu */

nav {
    display: inline-block;
    position: fixed;
    width: 100%;


    background-color: rgba(255, 255, 255, .1);
    box-shadow: #fff 0 0 15px;
    z-index: 1;
}

ul{
    display: inline-block;
    float: right;

    margin: 0;

}

li{
    text-decoration: none;
    display: inline-block;
    padding: 1.5rem 3rem;
    transition: color, background-color .1s;
}

h2{
    font-size: 3.5rem;
    color: var(--tertiary-color);
}

li:hover {
    background-color:var(--primary-color);

}
#Dark-light{
    display:inline-block;
    position: relative;
    margin: 10px;
    top: 10px;
}

#Dark-light h2 {
    display: inline-block;
    margin-left: 50px;

}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--tertiary-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--secondary-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--primary-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--secondary-color);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* Estilização da Capa de Apresentação */

#capa{
    height: 1080px;
}

#capa #row-capa{
    position: absolute;
    margin: 280px 316px;


}

#row-capa img {
    display: inline-block;
    height: 400px;
    width: 400px;

    border-radius: 50%;
    border: 2px solid var(--tertiary-color);
    box-shadow: var(--tertiary-color) 0 0 10px;
}

#row-capa h1 {
    display: inline-block;
    

    position: relative;

    margin-bottom: 50px;

    top: -190px;
    left: 50px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: -20px;
    left: 10px;
  }

.grid-item{
  text-align: center;
  margin: 1rem;
  background-color: coral;
}

.text{
  grid-column-start: 2;
  grid-column-end: 3;

  height: 10rem;
}
  
.content {
  grid-column-start: 2;
  grid-column-end: 3s;
}

/* Portfólio */

#portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* alinhamento na horizontal topo e baixo*/
  align-items: center; /* alinhamento na vertical esquerda e direita*/

  padding-top: 10rem auto; 
}
#tecnologias {
  background-color: var(--Bfume);
  width: 40%;
  height: 20rem;

  display: flex;
  flex-direction: column;
  justify-content: center; /* alinhamento na horizontal topo e baixo*/
  align-items: center; /* alinhamento na vertical esquerda e direita*/

}
#tecnologias select {
  width: 60%;
  font-size: 2.5rem;

  color: var(--primary-color);
  background-color: var(var(--tertiary-color));
  
  -webkit-appearance: none;
  -moz-appearance: none; 
}
#tecnologia .row {
  display: flex;
  flex-direction: row; 
}
#tecnologia .col {
  display: flex;
  flex-direction: column;
}
#tecnologia input {
  width: 2 rem;
  height: 2rem; 
  
}
#tecnologia label {
  font-size: 2.2rem;
  color: var(--tertiary-color);
}
#tecnologias .center {
  margin: auto 18rem;
}

/* Projetos */

#projetos {
  width: 90%;
  height: 50rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
#projetos slider {
  display: flex;
  justify-content: center;
}
#projeto .slide {

}
#projeto img{
  width: 70%;

  border-radius: 1.2rem 0;
}